<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: html_head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
	    <div class="row">
	    	<div class="col"></div>
			<div class="col-4 form"> 
		        <div class="panel panel-info">
	                <div class="panel-heading">
	                    <div class="panel-title" style="margin-top: 10px; font-size: 1.6rem;">Възстановяване на парола</div>
	                </div>
				</div>
				<form th:action="@{/doctor/resetPassword}" method="post" class="form-horizontal">
		            <div>
                        <label for="email" style="margin-bottom: -10px; font-size: 0.9rem;">Email</label>
                        <input id="email" type="email" class="form-control" name="email" value="">
                    </div>
		            <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn" id="submitButton"
                                    style="background-color: #456073; color: white">Изпрати
                            </button>
                        </div>
                    </div>
		        </form>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid #888; padding-top:15px; font-size:85%;">
                                Нямате акаунт!
                                <a th:href="@{/register}">
                                    Регистрирайте се
                                </a>
                            </div>
                        </div>
                    </div>
			</div>
			<div class="col"></div>
	    </div>
	</div>
</body>
</html>