<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: html_head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

    <div class="container">
	    <div class="row">
	    	<div class="col"></div>
			<div class="col-4 form"> 
		        <div class="panel panel-info">
	                <div class="panel-heading">
	                    <div class="panel-title" style="margin-top: 10px; font-size: 1.6rem;">Вход в E-рецепта</div>
	                    <div style="float:right; font-size: 80%; position: relative; top:-30px"><a th:href="@{/forgotPassword}">Забравена парола?</a></div>
	                </div>
				</div>
				<form th:action="@{/doLogin}" method="post" class="form-horizontal">
		            <div>
                        <label for="email" style="margin-bottom: -10px; font-size: 0.9rem;">Email</label>
                        <input id="username" type="text" class="form-control" name="username" value="">
                    </div>
                    <div style="margin-bottom: 25px">
                        <label for="password" style="margin-bottom: -10px; font-size: 0.9rem;">Парола</label>
                        <input id="password" type="password" class="form-control" name="password">
                    </div>
		            <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn" id="submitButton"
                                    style="background-color: #456073; color: white">Вход
                            </button>
                        </div>
                    </div>
		        </form>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid #888; padding-top:15px; font-size:85%">
                                Нямате акаунт!
                                <a href="/register">
                                    Регистрирайте се
                                </a>
                            </div>
                        </div>
                    </div>
		        <div th:if="${param.error}" class="alert alert-danger">Невалидно потребителско име или парола.</div>
		        <div th:if="${param.logout}" class="alert alert-success">Излязохте от системата.</div>
                <div th:if="${message}" th:text="${message}" class="alert alert-success">Message</div>
                <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Error Message</div>
			</div>
			<div class="col"></div>
	    </div>
	</div>

</body>
</html>